@import 'reset';
@import 'mixin';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

* {
  box-sizing: border-box;
}

/* Sitewide */

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark-grey;
}

a {
  text-decoration: none;
}

.page-head {
  background-color: #ccc;
  background-image: url("../img/comics.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  h1.site-title {
    color: $white;
    font-size: 2em;
    padding: 1em;
    text-align: center;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

.headline {
  background-color: $purple;
  color: $white;
  font-weight: 200;
  padding: $padding-2;
  text-align: center;
}

.sub-headline {
  padding-top: 0.5em;
  text-align: center;
}


/* HOMEPAGE */
.container {
  @include grid-display();
  @include grid-flow();
  .comic-info {
    @include grid-item(1 90%);
    margin: 0 auto;
    padding: $padding-1;
    h2 {
      font-size: 1em;
      color: $white;
      padding: $padding-2;
    }
    h2.even {
      background-color: $purple;
    }
    h2.odd {
      background-color: $green;
    }
    p {
      padding: 1em;
    }
  }
}

/* ARTICLE PAGES */
.container {
  .synopsis {
    @include grid-item(1 66%);
    padding: $padding-1;
  }
  .image {
    @include grid-item(1 33%);
    padding: $padding-1;
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}

.page-foot {
  background-color: #34ACFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-head {
    .icon {
      display: none;
    }
    h1.site-title {
      font-size: 3em;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
    .comic-info {
      @include grid-item(2 50%);
      h2 {
        font-size: 2em;
        padding: 1em;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-head {
    .icon {
      display: none;
    }
    h1.site-title {
      font-size: 4em;
    }
  }
  .container {
    width: 80%;
    margin: 0 auto;
    .comic-info {
      @include grid-item(3 33%);
      h2 {
        font-size: 2em;
        padding: 1em;
      }
    }
  }
}
